/* Contenedor principal de la compra */
.shoppingContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  flex: 1;
}

/* Contenedor de la tabla */
.tableContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Filas de la tabla */
.tableRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Tarjeta de compra */
.shoppingCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%; /* Ajustamos la altura de la tarjeta */
  position: relative; /* Añadida posición relativa */
  z-index: 0; /* Asegura que las tarjetas estén por debajo del contenedor de pago */
}

.shoppingCard:hover {
  transform: scale(1.00); /* Reducido el valor para disminuir la escala en el hover */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); /* Reducido el valor para suavizar la sombra en el hover */
  border: 2px solid #000;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

/* Imagen de la tarjeta */
.cardImage {
  width: 100%;
  height: 200px; /* Ajustamos la altura de la imagen */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}


/* Contenido de la tarjeta */
.cardContent {
  padding: 16px;
}

/* Título de la tarjeta */
.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

/* Botones de cantidad */
.quantityButtons button {
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 8px;
  transition: background-color 0.3s ease-in-out;
}

.paymantContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative; 
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #040404;
  border-radius: 8px;
  z-index: 1; /* Asegura que el contenedor esté por encima de las tarjetas */
}

/* Resumen de compra */
.Summary {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* Línea divisora */
.lineDivider {
  border-top: 1px solid #050505de;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Total de la compra */
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.total span {
  font-size: 20px;
}

/* Precio de la tarjeta */
.cardPrice {
  font-size: 16px;
  margin-bottom: 28px;
  font-weight: 1000;
  color: rgb(1, 38, 1);
}

/* Colores de la tarjeta */
.cardColors,
/* Tamaños de la tarjeta */
.cardSizes {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.unidad {
  font-size: 14px;
  margin-bottom: 8px;
  color: #000000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Contenedor del botón de compra */
.buyButtonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Botón de compra */
.buyButton {
  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 400px;
  transition: background-color 0.3s ease-in-out;
}

.buyButton:hover {
  background-color: #141b1f;
}

/* Botón de eliminación de tarjeta */
.cardRemoveButton {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.cardRemoveButton:hover {
  background-color: #f80000;
}
