.fondo {
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/930/467/non_2x/running-shoes-sneakers-for-running-and-doing-sports-on-track-treadmill-background-in-home-free-photo.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  top: 200px;
}

.about {
  color: #333;
  border-radius: 10px;
  z-index: 1;
}

.title {
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.title1 h5 {
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
}

.text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.cuadrante {
  background-color: rgba(208, 209, 238, 0.796);
  width: calc(60% - 20px);
  padding: 14px;
  padding-top: 20px;
  height: 500px;
  border: 1px solid rgba(178, 174, 174, 0.984);
  border-radius: 5px;
  margin-right: 30px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  margin-top: -200px;
  transition: transform 0.3s;
}

.cuadrante p {
  font-size: 14px;
}

.agradecimientos {
  border: 1px solid rgba(178, 174, 174, 0.984);
  background-color: rgba(208, 209, 238, 0.796);
  text-align: start;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  height: 420px;
  width: 900px;
  position: relative;
  top: -140px;
  transition: transform 0.3s;
}

.agradecimientos h5 {
  text-align: center;
}

.agradecimientosContent p {
  text-align: center;
}

.agradecimientosContent h6 {
  margin-left: 10px;
}

.cuadrante:hover,
.agradecimientos:hover {
  transform: scale(1.03);
}

.top-section,
.bottom-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Ajustes para dispositivos más pequeños */
@media (max-width: 768px) {
  .cuadrante {
    width: 100%;
    margin-right: 0; /* Elimina el espacio entre cuadrantes en dispositivos más pequeños */
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .agradecimientos {
    width: 100%;
    margin-right: 0; /* Elimina el espacio entre cuadrantes en dispositivos más pequeños */
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about {
    width: 100%;
    margin-right: 0; /* Elimina el espacio entre cuadrantes en dispositivos más pequeños */
    margin-bottom: 20px;
  }
}

.back {
  margin-top: 20px;
  margin-bottom: -10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos específicos para los iconos de marca de Font Awesome */
.fab {
  font-weight: 400;
  margin-left: 20px;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  left: 22px;
  font-size: 40px;
}

.fa-instagram:before {
  content: "\f16d"; /* Código Unicode para el ícono de Instagram */
}

.fa-facebook:before {
  content: "\f09a"; /* Código Unicode para el ícono de Facebook */
}

.fa-github:before {
  content: "\f09b"; /* Código Unicode para el ícono de GitHub */
}

.socialIcons h6 {
  font-size: 14px;
  position: relative;
  top: -8px;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.socialIcons {
  position: relative;
  top: -20px;
}
.back1 {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    top: 50px; /* Ajusta según tus necesidades */
  }

  .cuadrante,
  .agradecimientos,
  .about {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .agradecimientos {
    height: auto;
  }

  .cuadrante,
  .agradecimientos:hover {
    transform: scale(1);
  }

  .socialIcons {
    top: 0;
  }
}
