.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-detail {
  max-width: 400px;
  width: 80%; /* Cambiado de 50% a 80% */
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(19, 18, 18, 0.2);
  border: 1px solid rgba(21, 21, 22, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-detail img {
  max-width: 200px; /* La imagen se ajustará al ancho del contenedor */
  height: 200px;   /* La altura se ajustará automáticamente */
}

.product-title {
  margin-top: 10px;
  font-weight: bold;
  color: rgb(20, 18, 18);
  border-radius: 10px;
}

.product-detail-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid rgb(21, 19, 19);
  background-color: transparent !important;
  color: rgb(16, 15, 15);
  transition: border-color 0.3s, color 0.3s;
}

.button-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  margin-top: -15px;
  margin-left: 45px;
}

.tipos {
  border: 1px solid rgba(23, 20, 20, 0.501);
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
  max-height: 210px;
  margin-top: 32px;
  margin-bottom: 30px;
  color: rgb(7, 6, 6);
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.titulo {
  border: 3px solid rgba(0, 123, 255, 0.544);
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.531);
  color: rgb(14, 13, 13);
  text-align: center;
  border-left: 20px;
  border-top: 10px;
  border-right: 20px;
  border-bottom: 5px;
}

.selected-sizes-container {
  display: flex;
  justify-content: center;
}

.selected-size {
 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 2px;
  margin-bottom: 8px;
  margin-top: -8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button {
  display: flex;
  border: #00577f;
  border-radius: 5px;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
  margin-left: 120px;
  color: #ccc;
}

.submit {
  background-color: #007acc;
  border: #00577f;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #fbfbfb;
  margin-top: -10px;
}

.submit:hover {
  background-color: #00577f; /* Color más oscuro al pasar el mouse */
}

.tipos1 {
  border: 1px solid rgba(23, 20, 20, 0.501);
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
  max-height: 210px;
  margin-top: 32px;
  margin-bottom: -20px;
  color: rgb(7, 6, 6);
  margin-left: -2px;
  margin-right: -2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: white; /* Añade esta línea */
}

.selected-sizes-container {
  display: flex;
  justify-content: center;
}

.selected-size {
  background-color: rgba(0, 122, 204, 0.2);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 2px;
  margin-bottom: 8px;
  margin-top: -8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.size-separator {
  width: 5px;
}

.rev {
  border: 1px solid rgb(19, 15, 15);
  border-radius: 5px;
  margin-bottom: 20px;
  width: 500px;
  margin-bottom: 10px;
  margin-top: -790px;
  margin-left: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}