.flexBox {
  display: flex;
  width: 1300px;
  margin: 20px auto;
}

.left {
  width: 60%;
}

.bigImg {
  width: 85%;
  margin-left: 100px;
}

.bigImg img {
  width: inherit;
  border-radius: 10px;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 15px;
  margin-left: 112px;
  max-width: 300px;
}

.smallImg {
  width: 50px;
}
.smallImg img {
  width: inherit;
  cursor: pointer;
}

.url {
  font-size: 16px;
  font-weight: 400px;
  color: black;
}

.nameContainer h1 {
  font-size: 40px;
  font-weight: 400;
  color: black;
  width: 100%;
}

.brand {
  margin-bottom: 10px;
}

.brand h4 {
  font-size: 16px;
  font-weight: 40px;
  color: black;
}

.price h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.containerColors {
  margin-top: 10px;
}

.colorOptionsContainer {
  display: flex;
  flex: 1;
}

.colorOption {
  width: 80px;
  height: 40px;
  border: 1px solid rgb(219, 215, 215);
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  padding-left: 16px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.selectedColor {
  border-color: rgb(2, 54, 85);
}

.hovered {
  border-color: rgb(11, 10, 10);
}

.selectedSize {
  border-color: rgb(2, 54, 85);
}

.sizeOptionsContainer {
  display: flex;
  flex: 1;
}

.sizesContainer {
  margin-top: 20px;
}

.sizes p {
  font-size: 18px;
  font-weight: 500;
}

.sizes {
  display: flex;
}

.sizeOption {
  width: 70px;
  height: 30px;
  border: 1px solid rgb(219, 215, 215);
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  padding-left: 14px;
}

.sizeOptionsContainer {
  margin-right: 20px;
  margin-bottom: 20px;
}

.quantityContainer p {
  font-size: 18px;
}

.quantityButtons {
  display: flex;
  align-items: center;
}

.quantityButtons button {
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 8px;
  transition: background-color 0.3s ease-in-out;
}

.addToCartButton {
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  transition: background-color 0.3s ease-in-out;
}

.addToCartButton:hover {
  background-color: #004d40;
}

.messages {
  margin-top: 6px;
  font-weight: 400;
}

.collect {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.description {
  font-size: 16px;
  font-weight: 400px;
  color: black;
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lineDivider {
  border-top: 1px solid #050505de;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.lineDividerHeader {
  border-top: 1px solid #0505054d;
  height: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.devolutionsContainer {
  display: flex;
  flex: 1;
  margin-top: 24px;
}

.devolutions {
  font-size: 18px;
  font-weight: 400;
}

.buttonDevolution {
  margin-bottom: 0px;
  background-color: white;
}

.buttonDevolution:hover {
  background-color: white; /* Mantén el fondo blanco en hover */
  color: initial; /* Mantén el color de texto predeterminado en hover */
}
.descriptionDevolution {
  display: block;
  font-size: 13px;
  max-width: 300px;
}

.reviewContainer{
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}