.navv {
    display: flex;
    border: 1px;
    background-color: #4335b0;
    justify-content: space-between; /* Distribuye los elementos de forma uniforme */
    align-items: center;
    background-color: #261c42;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }