.container {
  background-color: white;
}

.bannerContent {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.searchBarComponent {
  position: relative;
}

.filterComponent {
  z-index: 80;
  position: relative;
}

.createContainer button {
  width: 114px;
  height: 40px;
  font-weight: 400;
  background-color: black;
  font-size: 12px;
  position: relative;
  top: 20px;
}

.paginado {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  top: 68px;
  z-index: 600;
}

.alertComponent {
  position: relative;
  display: flex;
}

.catalogueTitle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  top: 20px;
  position: relative;
}

.catalogueTitle h2 {
  font-weight: 700;
}

.footer {
}
