@font-face {
  font-family: 'MiFuente';
  src: url('./assets/02_APompadourTextSample.otf') format('truetype');
  /* Ajusta la ruta según la estructura de tu proyecto. */
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'MiFuente', monospace;
  /* Usa 'MiFuente' como la fuente principal y 'sans-serif' como respaldo. */
}