.fondo2 {
  background-position: center;
  background-size: cover;
  background-image: url("https://i.blogs.es/a83cac/maxfly/1366_2000.jpeg");
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 140px;
}

.form-and-preview-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.form-container,
.preview-container {
  background-color: rgba(142, 160, 184, 0.8);
  width: 340px;
  margin-left: 80px;
  left: -40px;
  top: -140px;
  position: relative;
  padding: 14px;
  height: 640px;
  border-radius: 5px;
  outline: 1px solid rgba(21, 21, 22, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}

.form-container::-webkit-scrollbar {
  width: 0px;
}

.preview-container {
  border-left: 10px;
}

.form-label {
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 20px;
  font-size: 14px;
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(21, 19, 19);
  background-color: transparent !important;
  color: rgb(16, 15, 15);
  transition: border-color 0.3s, color 0.3s;
}

.error-message {
  color: rgb(245, 24, 24);
  font-size: 10px;
  position: relative;
  top: 4px;
  left: 6px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.submit-button {
  font-size: 14px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -10px;
  height: 42px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #007acc;
}

.image-preview {
  width: auto;
  height: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(123, 118, 136, 0.8);
  border-radius: 10px;
  color: rgb(21, 18, 18);
  display: flex;
  align-items: center;
  justify-self: center;
  object-fit: cover;
}

.preview-image {
  width: 100%;
  height: 220px;
  justify-content: center;
  margin: 0 auto;
  justify-self: center;
  object-fit: cover;
  border-radius: 5px;
}

.preview-image img {
  justify-self: center;
  object-fit: cover;
}

.tipos {
  border: 1px solid rgba(23, 20, 20, 0.501);
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
  max-height: 210px;
  margin-top: 20px;
  top: 44px;
  position: relative;
  margin-bottom: 30px;
  color: rgb(7, 6, 6);
  margin-left: -2px;
  margin-right: -2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.titulo {
  border: 3px solid rgba(0, 123, 255, 0.544);
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.531);
  color: rgb(14, 13, 13);
  text-align: center;
  border-left: 20px;
  border-top: 10px;
  border-right: 20px;
  border-bottom: 5px;
  margin-bottom: 10px;
}

.nombre {
  min-width: 300px; /* Ancho mínimo deseado */
  width: 100%; /* Permite crecer automáticamente */
  height: 40px;
  text-align: start;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative; /* Esto puede no ser necesario, comprueba si deseas centrarlo */
  color: rgb(15, 14, 14);
  margin-top: -10px;
  margin-bottom: 10px;
}

.nombre h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1px;
  margin-right: 0px;
}

.selected-sizes-container {
  display: flex;
  justify-content: center;
}

.selected-size {
  padding: 2px;
  margin-right: 2px;
  margin-bottom: 8px;
  margin-top: -8px;
}

.size-separator {
  width: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

.precio-preview {
  color: green;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: start;
  top: 10px;
  left: 10px;
  font-size: 20px;
  margin-bottom: 40px;
  position: relative;
}

.form-input::placeholder {
  color: #f3e9e9;
}

.colormarca [disabled] {
  color: #999; /* Puedes cambiar este color según tu preferencia */
}

.cuadrante,
.agradecimientos,
.about {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Consultas de medios para ajustar el diseño en dispositivos más pequeños */
@media (max-width: 768px) {
  .cuadrante,
  .agradecimientos,
  .about {
    width: 100%;
    margin-right: 0;
  }
}

.successMessage {
  position: relative;
  top: -40px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-button:hover {
  opacity: 1;
}

.nav-button:active {
  transform: scale(1.2);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.preview-image {
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
