.image-option-remove-button {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  position: relative;
  top: 12px;
  left: -20px;
  width: 10px;
  height: 10px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  width: 4px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}
.image-option-remove-button:hover {
  background-color: red;
  transform: scale(1.2);
}

.image-option-add-button {
  background-color: rgb(0, 58, 128);
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.image-option-add-button:hover {
  background-color: rgb(0, 58, 128);
}

.image-option-container {
  margin-bottom: 20px;
}

.image-option-container input[type="text"] {
  margin-right: 20px;
  display: flex;
  height: 30px;
  position: relative;
  top: 0px;
}

.image-option-container input[type="text"],
.image-option-container input[type="file"] {
  margin-right: 20px;
  display: flex;
  height: 30px;
}

.inputs input {
  top: -20px;
  width: 230px;
  height: 30px;
  margin: 0 auto;
  border: none;
  position: relative;
}

.buttons {
  width: 20px;
  height: 40px;
  position: relative;
  left: 60px;
  font-size: 10px;
}
